@font-face {
font-family: 'Gerbera';
src: url('http://yoursite.com/gerbera/FiveYearsLaterRegular.woff') format('woff');
font-weight: 400;
font-style: normal;
}
@font-face {
font-family: 'Gerbera';
src: url('http://yoursite.com/gerbera/FiveYearsLaterRegular.woff') format('woff');
font-weight: 700;
font-style: bold;
}
